<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpotSkip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SpotSkip.SaveVariables" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SpotSkip.Properties.Settings>
            <setting name="SpotifyAPIRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SpotifyAPISuccessfullyAuthorized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyAPIDateTimeToRefresh" serializeAs="String">
                <value />
            </setting>
            <setting name="SpotifyAPITimeToRefresh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpotifyAPIAccessToken" serializeAs="String">
                <value />
            </setting>
        </SpotSkip.Properties.Settings>
        <SpotSkip.SaveVariables>
            <setting name="TwitchAPISuccessfullyAuthorized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwitchAPIRefreshToken" serializeAs="String">
                <value />
            </setting>
        </SpotSkip.SaveVariables>
    </userSettings>
</configuration>